In [1]:
from rightmove_webscraper import RightmoveData
from geopy.geocoders import Nominatim
import pandas as pd
from geopy.extra.rate_limiter import RateLimiter

In [11]:
url = 'https://www.rightmove.co.uk/property-for-sale/find.html?locationIdentifier=REGION%5E93929&sortType=6&propertyTypes=&includeSSTC=false&mustHave=&dontShow=&furnishTypes=&keywords='
file_name = 'Barnet.csv'

In [12]:
rm = RightmoveData(url)
df = rm.get_results

In [13]:
dropCols = ['type', 'url', 'agent_url', 'search_date']
df = df.drop(dropCols, axis=1)
df = df.dropna()
df.to_csv('/home/alex/Documents/London Housing/data/{}'.format(file_name))

In [14]:
df

,price,address,postcode,number_bedrooms
0,600000.0,"Hale Grove Gardens, Mill Hill, London, NW7",NW7,3.0
1,455000.0,"Golders Green Crescent, London, NW11",NW11,1.0
2,695000.0,"Tiverton Way, Mill Hill, London, NW7",NW7,4.0
4,679950.0,"Park Road, Hendon, NW4",NW4,3.0
5,500000.0,"Grasvenor Avenue, Barnet, Hertfordshire, EN5",EN5,3.0
...,...,...,...,...
1042,755000.0,"Upcroft Avenue, Edgware, HA8",HA8,4.0
1043,550000.0,"Denver Court, 132 Hendon Lane, London, N3",N3,2.0
1045,450000.0,"Elm Park Road, Finchley, London, N3",N3,3.0
1047,650000.0,"Lynford Gardens, Edgware, HA8",HA8,3.0
1049,975000.0,"Johns Avenue, London, NW4",NW4,4.0

In [ ]:
dropCols = ['type', 'address', 'url', 'agent_url', 'search_date']
df = df.drop(dropCols, axis=1)
df = df.dropna()
df.to_csv('/home/alex/Documents/London Housing/{}'.format(file_name))

In [203]:
def scraper(url,file_name):
    from rightmove_webscraper import RightmoveData
    from geopy.geocoders import Nominatim
    import pandas as pd
    from geopy.extra.rate_limiter import RateLimiter
    
    rm = RightmoveData(url)
    df = rm.get_results
    
    geolocator = Nominatim(user_agent="alex")
    geocode = RateLimiter(geolocator.geocode, min_delay_seconds=1)
    df['location'] = df['address'].apply(geocode)
    df['point'] = df['location'].apply(lambda loc: tuple(loc.point) if loc else None)
    df[['latitude', 'longitude', 'altitude']] = pd.DataFrame(df['point'].tolist(), index=df.index)
    
    dropCols = ['type', 'address', 'url', 'agent_url', 'search_date', 'location', 'altitude']
    df = df.drop(dropCols, axis=1)
    df = df.dropna()
    df.to_csv('/home/alex/Documents/London Housing/{}'.format(file_name))
    return 'Done!'